[versions]
# libraries
annotations = "24.1.0"
kotest = "5.8.1"

# plugins
dokka = "1.9.20"
kotlin = "1.9.23"
kotlinTest = "1.8.0"
mockkTest = "1.13.10"
changelog = "2.2.0"
gradleIntelliJPlugin = "1.17.2"
qodana = "2023.3.2"
kover = "0.7.6"
koinPrevVersion = "3.5.3"
koinKotestExtension = "1.3.0"

[libraries]
annotations = { group = "org.jetbrains", name = "annotations", version.ref = "annotations" }
kotest-runner = { group = "io.kotest", name = "kotest-runner-junit5", version.ref = "kotest" }
kotest-assertion = { group = "io.kotest", name = "kotest-assertions-core", version.ref = "kotest" }
kotest-property = { group = "io.kotest", name = "kotest-property", version.ref = "kotest" }
korutines-test = { group = "org.jetbrains.kotlinx", name = "kotlinx-coroutines-test", version.ref = "kotlinTest" }
mockk-test = { group = "io.mockk", name = "mockk", version.ref = "mockkTest" }
mockito-kotlin = { group = "org.mockito.kotlin", name = "mockito-kotlin", version = "5.3.1" }
io-insert-koin = { group = "io.insert-koin", name = "koin-test", version.ref = "koinPrevVersion" }
io-insert-koin-junit = { group = "io.insert-koin", name = "koin-test-junit5", version.ref = "koinPrevVersion" }
io-kotest-extensions = { group = "io.kotest.extensions", name = "kotest-extensions-koin", version.ref = "koinKotestExtension" }

[plugins]
changelog = { id = "org.jetbrains.changelog", version.ref = "changelog" }
dokka = { id = "org.jetbrains.dokka", version.ref = "dokka" }
gradleIntelliJPlugin = { id = "org.jetbrains.intellij", version.ref = "gradleIntelliJPlugin" }
kotlin = { id = "org.jetbrains.kotlin.jvm", version.ref = "kotlin" }
kover = { id = "org.jetbrains.kotlinx.kover", version.ref = "kover" }
qodana = { id = "org.jetbrains.qodana", version.ref = "qodana" }

[bundles]
kTest = ["kotest-runner", "kotest-assertion", "kotest-property", "korutines-test", "mockk-test", "mockito-kotlin", "io-insert-koin", "io-insert-koin-junit", "io-kotest-extensions"]