[versions]
changelog = "2.2.1"
intelliJPlatform = "2.1.0"
kotlin = "2.1.0"
kover = "0.8.3"
qodana = "2024.2.6"
mockkTest = "1.13.13"
kotlinTest = "1.10.1"
intellijRemoteRobot = "0.11.23"
koinPrevVersion = "4.0.0"




[libraries]
intellijRemoteFixtures = { module = "com.intellij.remoterobot:remote-fixtures", version.ref = "intellijRemoteRobot" }
intellijRemoteRobot = { module = "com.intellij.remoterobot:remote-robot", version.ref = "intellijRemoteRobot" }
io-insert-koin = { group = "io.insert-koin", name = "koin-test", version.ref = "koinPrevVersion" }
io-insert-koin-junit = { group = "io.insert-koin", name = "koin-test-junit5", version.ref = "koinPrevVersion" }
korutines-test = { group = "org.jetbrains.kotlinx", name = "kotlinx-coroutines-test", version.ref = "kotlinTest" }
korutines-core = { group = "org.jetbrains.kotlinx", name = "kotlinx-coroutines-core", version.ref = "kotlinTest" }
mockk-test = { group = "io.mockk", name = "mockk", version.ref = "mockkTest" }


[plugins]
changelog = { id = "org.jetbrains.changelog", version.ref = "changelog" }
intelliJPlatform = { id = "org.jetbrains.intellij.platform", version.ref = "intelliJPlatform" }
kotlin = { id = "org.jetbrains.kotlin.jvm", version.ref = "kotlin" }
kover = { id = "org.jetbrains.kotlinx.kover", version.ref = "kover" }
qodana = { id = "org.jetbrains.qodana", version.ref = "qodana" }

[bundles]
kTest = ["korutines-core", "korutines-test", "mockk-test", "io-insert-koin", "io-insert-koin-junit"]
robot = ["intellijRemoteFixtures", "intellijRemoteRobot"]