[versions]
# libraries
annotations = "24.0.1"
kotest = "5.6.2"

# plugins
dokka = "1.9.0"
kotlin = "1.9.10"
kotlinTest = "1.7.3"
mockkTest = "1.13.7"
changelog = "2.2.0"
gradleIntelliJPlugin = "1.15.0"
qodana = "0.1.13"
kover = "0.7.3"
koinPrevVersion = "3.4.3"

[libraries]
annotations = { group = "org.jetbrains", name = "annotations", version.ref = "annotations" }
kotest-runner = { group = "io.kotest", name = "kotest-runner-junit5", version.ref = "kotest" }
kotest-assertion = { group = "io.kotest", name = "kotest-assertions-core", version.ref = "kotest" }
kotest-property = { group = "io.kotest", name = "kotest-property", version.ref = "kotest" }
korutines-test = { group = "org.jetbrains.kotlinx", name = "kotlinx-coroutines-test", version.ref = "kotlinTest" }
mockk-test = { group = "io.mockk", name = "mockk", version.ref = "mockkTest" }
io-insert-koin = { group = "io.insert-koin", name = "koin-test", version.ref = "koinPrevVersion" }
io-insert-koin-junit = { group = "io.insert-koin", name = "koin-test-junit5", version.ref = "koinPrevVersion" }

[plugins]
changelog = { id = "org.jetbrains.changelog", version.ref = "changelog" }
dokka = { id = "org.jetbrains.dokka", version.ref = "dokka" }
gradleIntelliJPlugin = { id = "org.jetbrains.intellij", version.ref = "gradleIntelliJPlugin" }
kotlin = { id = "org.jetbrains.kotlin.jvm", version.ref = "kotlin" }
kover = { id = "org.jetbrains.kotlinx.kover", version.ref = "kover" }
qodana = { id = "org.jetbrains.qodana", version.ref = "qodana" }

[bundles]
kTest = ["kotest-runner", "kotest-assertion", "kotest-property", "korutines-test", "mockk-test", "io-insert-koin", "io-insert-koin-junit"]