# GitHub Actions Workflow for launching UI tests on Linux, Windows, and Mac in the following steps:
# - prepare and launch IDE with your plugin and robot-server plugin, which is necessary to interact with UI
# - wait for IDE to start
# - run UI tests with a separate Gradle task 
#
# Please check https://github.com/JetBrains/intellij-ui-test-robot for information about UI tests with IntelliJ Platform
#
# Workflow is triggered manually.

name: Run UI Tests
on:
  workflow_dispatch:
  push:
    branches: [ main ]
  # Trigger the workflow on any pull request
  pull_request:

jobs:

  testUI:
    permissions:
      contents: write
      checks: write
      pull-requests: write
    runs-on: ${{ matrix.os }}
    name: Test GBrowser UI on ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: macos-latest

    steps:

      # Check out the current repository
      - name: Fetch Sources
        uses: actions/checkout@v6


      # Set up the Java environment for the next steps
      - name: Setup JBR 21
        uses: actions/setup-java@v5.0.0
        with:
          distribution: 'jetbrains'
          java-version: 21
          java-package: 'jdk+jcef'
          check-latest: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      # Setup Gradle
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
        with:
          gradle-version: "9.2.0"
          cache-read-only: false
          gradle-home-cache-includes: |
            caches
            notifications
            jdks
          gradle-home-cache-excludes: |
            caches/build-cache-*


          # Run tests
      - name: Tests
        run: ./gradlew uiTest
      
      # Only upload artifacts on failure for debugging
      - name: Collect Debug Artifacts
        if: failure()
        uses: actions/upload-artifact@v5
        with:
          name: tests-result-${{ matrix.os }}
          path: |
            ${{ github.workspace }}/build/out/ide-tests/tests/**/*/log/
            ${{ github.workspace }}/build/out/ide-tests/tests/**/*/reports/
            ${{ github.workspace }}/build/out/ide-tests/tests/**/*/snapshots/
            ${{ github.workspace }}/build/reports/tests/
          if-no-files-found: warn
        continue-on-error: true

  

